[Unit]
Description=billet shaping of this host's share of a shared uplink
Documentation=https://billet.readthedocs.io/en/latest/reference/records/shared-uplink.html
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/sbin/modprobe sch_cake
ExecStartPre=/usr/sbin/modprobe ifb numifbs=0
ExecStart=/usr/sbin/tc qdisc replace dev {{ billet_uplink_shaping.interface }} root cake bandwidth {{ billet_uplink_shaping.egress_mbit | int }}mbit besteffort nat dual-srchost
ExecStart=-/usr/sbin/ip link add {{ billet_uplink_shaping_ifb }} type ifb
ExecStart=/usr/sbin/ip link set {{ billet_uplink_shaping_ifb }} up
ExecStart=/usr/sbin/tc qdisc replace dev {{ billet_uplink_shaping_ifb }} root cake bandwidth {{ billet_uplink_shaping.ingress_mbit | int }}mbit besteffort nat dual-dsthost ingress
ExecStart=-/usr/sbin/tc qdisc del dev {{ billet_uplink_shaping.interface }} handle ffff: ingress
ExecStart=/usr/sbin/tc qdisc add dev {{ billet_uplink_shaping.interface }} handle ffff: ingress
ExecStart=/usr/sbin/tc filter add dev {{ billet_uplink_shaping.interface }} parent ffff: matchall action mirred egress redirect dev {{ billet_uplink_shaping_ifb }}
ExecStop=-/usr/sbin/tc qdisc del dev {{ billet_uplink_shaping.interface }} root
ExecStop=-/usr/sbin/tc qdisc del dev {{ billet_uplink_shaping.interface }} handle ffff: ingress
ExecStop=-/usr/sbin/ip link del {{ billet_uplink_shaping_ifb }}

[Install]
WantedBy=multi-user.target
